* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.main{
  display: flex;
}
.menu{
  /* position: fixed; */
}
.sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 100%;
  width: 200px;
  position: sticky;
  display: block;
  /* overflow-x: hidden; */
}

.sidebar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 80vh;
  width: 1px;
  background-color: rgb(201, 201, 201);
}

.user {
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user span {
  font-size: smaller;
  color: grey;
}

.user img {
  width: 75px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(234, 234, 234);
}
.sidebar ul {
  list-style-type: none;
}
.menubar {
  align-items: center;
}
.sidebar ul li {
  margin-bottom: 2.5px;
  padding-top: 15px;
  transition: all 0.25s ease-in;
}

.sidebar ul li:last-child {
  margin-top: 70%;
}

.sidebar ul li:hover {
  color: rgb(158, 200, 185);
  cursor: pointer;
}
.sidebar ul li:hover i {
  color: rgb(158, 200, 185);
}
.sidebar ul li i {
  padding-right: 5px;
}

hr {
  width: 70%;
  border: 1px solid rgb(201, 201, 201);
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: static;
    border-right: none;
    overflow-x: visible;
  }
  .sidebar::after {
    display: none;
  }
}
